@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600;700&family=Noto+Serif:wght@300;400;500;600&family=Merriweather:wght@400;700&family=Fraunces:opsz,wght@9..144,400;9..144,500&family=Poppins:wght@300;400;500;600;700&display=swap');

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: rgb(109, 0, 51);
  --light-color: rgb(255, 249, 235);
  --accent-color: hsl(59, 100%, 70%);
  --pink: #ff9393;
  --serif: 'Noto Serif', Fraunces, serif;
  --sans-serif: Poppins, sans-serif;
  font: 300 16px / 1.5 var(--sans-serif);
  background-color: black;
  color: var(--light-color);
  scroll-behavior: smooth;
}
body::before {
  content: "";
  background: url(https://images.pexels.com/photos/4816921/pexels-photo-4816921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1), black;
  z-index: -2;
  background-size: cover;
  position: fixed;
  top: 0;
  min-width: 100%;
  height: 100vh;
  opacity: 0.1;
  filter: blur(2px);
}
main {
  animation: 1.5s fade-in forwards ease-in-out;
}
header,
#navbar,
#projects,
#contact-links,
footer {
  display: flex;
  flex-flow: row wrap;
  gap: 5%;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
ul#navbar {
  list-style-type: none;
  flex-flow: row nowrap;
  gap: 4vw;
  
}
a {
  text-decoration: none;
  color: inherit;
}
#navbar a:hover,
#navbar a:active {
  transition: all 0.2s linear;
  font-weight: bold;
  border-bottom: 3px solid var(--light-color);
}
em {
  font-style: normal;
  color: var(--accent-color);
}
#logo {
  color: var(--light-color);
  text-shadow: 2px 1px 0 var(--dark-color),
  3px 1px 0 var(--pink);
  font: 600 normal 2rem var(--serif);
}
h1 {
  position: relative;
  font: 600 normal max(5vw, 3rem) / 1.1 var(--serif);
  text-shadow: 2px 0 0 black,
  3px 0 0 var(--pink);
  margin: 0;
}
h1::after {
  content: "_";
  position: relative;
  left: 4px;
  bottom: 2px;
  text-shadow: none;
  animation: fade-in 1s infinite ease-in-out alternate;
}
h2 {
  font-size: max(2rem, min(3vw, 4rem));
  font-size: clamp(2rem, 3vw, 4rem);
  width: 100%;
  text-align: center;
  font-family: var(--serif);
  font-weight: 600;
  margin: 1rem 0 2rem;
}
h3 {
  font-size: max(1.3rem, min(2.5vw, 1.5rem));
  font-size: clamp(1.3rem, 2.5vw, 1.5rem);
  font-family: var(--serif);
  font-weight: 400;
  margin: 1.5rem 0;
}
header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  padding: 0.8rem 10%;
  background-color: var(--dark-color);
  font: 400 normal 1rem var(--sans-serif);
}
section {
  padding: 5rem 10% 5rem;
  margin-top: -5rem;
  position: relative;
}
#welcome-section {
  margin-top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  min-height: 110vh;
}
#welcome-section p {
  font-size: max(2.8vw, 1.3rem);
  line-height: 2;
  max-width: 70%;
}
article {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  flex: 1;
  text-align:center;
  margin-bottom: 5rem;
  border-radius: 10px;
}
article img {
  width: 100%;
  border-radius: 10px;
}
article img:hover,
article img:active {
  transition: all 0.3s ease-in-out;
  outline: 2px solid var(--accent-color);
  padding: 2px;
  transform: scale(105%);
}
#contact-links p,
footer p {
  text-align: center;
  margin: 4px 0;
}
#contact-links p {
  width: 40%;
  min-width: 190px;
  max-width: 250px;
  border: 3px solid var(--light-color);
  color: var(--light-color);
  border-radius: 20px;
  font: 400 1.15rem var(--sans-serif);
  display: flex;
}
#contact-links  {
  margin-bottom: 40%;
}
#contact-links a {
  flex: 1;
  padding: 1rem;
}
#contact-links p:hover {
  transition: all .3s ease-in-out;
  border: 3px solid var(--accent-color);
  background-color: var(--accent-color);
  color: black;
  font-weight: 600;
}

footer {
  padding: 0.4rem 10%;
  justify-content: space-between;
  background-color: rgb(29, 29, 29);
  text-align: center;
}

@media screen and (max-width: 550px ) {
  :root {
    font-size: 15px;
  }
  header,
  section,
  footer {
    padding-left: max(5%, 2rem);
    padding-right: max(5%, 2rem);
  }
}
@media screen and (max-width: 350px) {
  :root {
    font-size: 14px;
  }
  body {
    min-width: 250px;
    overflow:auto;
  }
  header {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  ul#navbar {
    align-items: center;
  }
  #logo {
    font-size: 1.8rem;
  }
  article {
    min-width: 150px;
  }
  h1 {
    font-size: max(5vw, 2.8rem);
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}