@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fraunces:opsz,wght@9..144,400;9..144,500&family=Poppins:wght@300;400;500;600;700&display=swap');

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: rgb(39, 40, 41);
  --light-color: rgb(255, 249, 235);
  --accent-color: rgb(255, 193, 175);
  --serif: Fraunces, serif;
  --sans-serif: Poppins, sans-serif;
  --logo-font: 'Berkshire Swash', serif;
  font: 300 16px / 1.4 var(--sans-serif);
  background-color: var(--dark-color);
  color: var(--light-color);
  scroll-behavior: smooth;
}
body::before {
  content: "";
  background-image: url(https://images.pexels.com/photos/4816921/pexels-photo-4816921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100vw;
  height: 100vh;
  filter: brightness(10%);
}
main {
  animation: 1.5s fade-in forwards ease-in-out;
}
header,
#navbar,
#projects,
#contact-links {
  display: flex;
  flex-flow: row wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
em {
  color: var(--accent-color);
}
#logo {
  color: var(--light-color);
  text-shadow: 2px 1px 0 var(--dark-color),
  3px 1px 0 #ff9393;
  font: 600 normal 2rem var(--serif);
}
h1 {
  font: 600 normal max(5vw, 3rem) var(--serif);
  text-shadow: 2px 1px 0 var(--dark-color),
  3px 1px 0 #ff9393;
  margin: 1rem 0;
}

h2 {
  font-size: clamp(1.6rem, 3vw, 5rem);
  font-family: var(--serif);
  font-weight: 500;
}
h3 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-family: var(--serif);
  font-weight: 500;
}
.welcome p {
  font-size: max(3vw, 1.5rem);
}
header {
  position: fixed;
  z-index: 10;
  top: 0;
  padding: 1rem 10%;
  background-color: var(--dark-color);
  border-bottom: 1px solid rgba(255, 227, 232, 0.555);
}
section {
  padding: 5rem 10% 3rem;
  margin-top: -2rem;
  position: relative;
}
section:first-of-type {
  margin-top: 3rem;
}
